section.content {
    width: 100%;
    padding: 20px;

    article {
        padding: 0 0 35px 0;
        border: solid $secondary-highlight;
        border-width: 0 0 1px;
        position: relative;
    }

    .galleryWrap {
        overflow: hidden;
        position: relative;
        display: flex;

        &::before {
            content: '';
            padding-top: 67%;
        }

        .arrow {
            width: 0px;
            height: 0px;
            border: 15px solid transparent;
            position: absolute;
            top: calc(50% - 7.5px);
            z-index: 10;

            &.arrow-left {
                border-color: transparent $primary-highlight transparent transparent;
                left: 0;
            }

            &.arrow-right {
                border-color: transparent transparent transparent $primary-highlight;
                right: 0;
            }

            &:hover {
                opacity: 0.66;
            }

        }
    }

    #gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        figure {
            width: 100%;
            border: 1px solid $primary-highlight;
            position: absolute;
            flex-shrink: 0;
            color: $default-back;
            overflow: hidden;
            opacity: 1;
            transition: opacity 0.5s;
            cursor: pointer;
            z-index: 1;

            &.hiding {
                position: absolute;
                opacity: 0;  
                z-index: -1;       
            }

            .imageWrap {
                background-color: rgb(7,123,163);
                @include aspect-ratio(4, 2.6666);
            }

            img { 
                width: 105%; 
                opacity: 0.6;
            }

            &#man {
    
                img { transform: translate(-50%,-37%); }
            }
    
            &#wizard {
    
                img { transform: translate(-50%,-45%); }
            }
    
            &#beast {
    
                img {
                    width: 130%;
                    transform: translate(-52%, -44%);
                }
            }
    
            &::before {
                content: attr(data-head);
                width: 100%;
                position: absolute;
                top: calc(50% - 20px);
                left: 50%;
                font-size: 16px;
                text-align: center;
                text-transform: uppercase;
                transform: translateX(-50%);
                transition: top 0.5s;
                z-index: 1;
            }

            &::after {
                content: attr(data-desc);
                width: 100%;
                position: absolute;top: calc(50% + 5px);
                left: 50%;
                text-align: center;
                transform: translateX(-50%);
                transition: top 0.5s;
            }

        }
    }

}

/* TABLET */
@media only screen and (min-width: $grid_tab ) { 

    section.content { 

        .galleryWrap {
            overflow: hidden;
            position: relative;
            display: block;
    
            &::before { display: none; }

            .arrow { display: none; }
        }

        #gallery {
            flex-direction: row;
            
            figure {
                width: 31%;
                margin-top: 2vmin;
                position: relative;
    
                &.hiding {
                    position: relative;
                    opacity: 1;  
                    z-index: 1;       
                }
            }

        }
    }

}

/* LAPTOP */
@media only screen and (min-width: $grid_lap ) {

    section.content { 
        width: calc(100% - 360px); 
        padding: 55px 25px 0 0;

        article {
            padding: 0 35px 33px 35px;
            border: solid $secondary-highlight;
            border-width: 0 1px 1px;

            &::after {
                content: '';
                width: 100%;
                height: 6px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: #F4F4F4;
                display: block;
            }
        }

        #gallery {

            figure {

                .imageWrap { background-color: transparent; }

                img { opacity: 1; }

                &:hover {
    
                    .imageWrap { background-color: rgb(7,123,163); }
    
                    img { opacity: 0.6; }
                }
    
                &::before {
                    content: attr(data-head);
                    top: 150%;
                }
    
                &:hover::before { top: calc(50% - 20px); }
    
                &::after {
                    content: attr(data-desc);
                    top: 175%;
                }
    
                &:hover::after { top: calc(50% + 5px); }
            }
        }
    }
}