/* COLORS */
$primary-highlight: #00A7E0;
$primary-highlight-fore: #FFFFFF;

$secondary-highlight: #E4E2E2;
$secondary-highlight-fore: #343E48;

$default-fore: #343E48;
$default-back: #FFFFFF;

/* DIMS */
$grid_max: 1366px;

/* MQ */
$grid_tab: 600px;
$grid_lap: 992px;
$grid_desk: 1200px;
    